<%=turbo_stream_from @post %>

<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>

<%=render "comments/comments", post: @post %>


<script>
  // Assuming you have a target container for comments with the ID 'comments'
document.addEventListener("turbo:load", () => {
  const commentsChannel = consumer.subscriptions.create({ channel: "CommentsChannel" }, {
    received(data) {
      const commentsContainer = document.getElementById("comments");
      if (commentsContainer) {
        const commentElement = document.createElement("div");
        commentElement.innerHTML = data.html; // assuming `data.html` contains the rendered comment
        commentsContainer.prepend(commentElement);
      }
    }
  });
});

</script>